/* Kondr styles */

@font-face {
  font-family: 'Golos';
  src: url('../plugins/global/fonts/kondr/subset-GolosText-Regular.woff2') format('woff2'),
    url('../plugins/global/fonts/kondr/subset-GolosText-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url('../plugins/global/fonts/kondr/subset-GolosText-DemiBold.woff2') format('woff2'),
    url('../plugins/global/fonts/kondr/subset-GolosText-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


.auth {
  display: flex;
  background: #EEF0F8;
  font-family: 'Golos', 'Arial', sans-serif;
}

.auth__aside {
  width: 100%;
/*  max-width: 57.69%;*/
  background: url(../media/kondr/aside-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 58px 77px;
}

.auth__aside-logo {
  
}

.auth__aside-logo-img {
  max-width: 276px;
  display: block;
}

.auth__content {
  min-height: 100vh;
  width: 100%;
  max-width: 42.31%;
  padding: 80px 8.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEF0F8;
}

.auth__content--start {
  justify-content: flex-start;
}

.auth__back {
  background: url(../media/kondr/auth-back.svg) no-repeat center;
  background-size: cover;
  width: 29px;
  height: 16px;
  margin-bottom: 48px;
  display: block;
  transition: all .3s ease-in-out;
}

.auth__back:hover {
  opacity: .7;
}

.auth__header {
  font-size: 36px;
  line-height: 1.22;
  font-weight: 600;
  color: #362B73;
  margin-bottom: 12px;
}

.auth__subheader {
  font-size: 20px;
  line-height: 1.2;
  color: #362B73;
  margin-bottom: 12px;
}

.auth__dscr {
  margin-top: 12px;
  max-width: 65%;
}

.auth__text {
  font-size: 14px;
  line-height: 1.5;
  color: #424959;
}

.auth__keys {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #999;
  margin-bottom: 40px;
}

.auth__keys-header {
  margin-right: 30px;
  margin-bottom: 0;
}

.auth__keys-item {
  margin-right: 16px;
}

.auth__keys-item:last-child {
  margin-right: 0;
}

.form {
}

.form__item {
  margin-bottom: 24px;
}

.form__link {
  margin-bottom: 24px;
  display: block;
}

.form-label {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}

.link-primary {
  font-size: 14px;
  line-height: 1.5;
  color: #362B73!important;
}

.form-control.form-control-solid {
  background: #fff;
  height: 48px;
  border-radius: 8px;
  padding: 0 16px;
}

.form-control.form-control-solid::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}

.form-control.form-control-solid::-moz-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}

.form-control.form-control-solid:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}

.form-control.form-control-solid:-moz-placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}

.form-control.form-control-solid:focus {
  background: #fff!important;
}

.dropdown.show>.form-control.form-control-solid, .form-control.form-control-solid.active, .form-control.form-control-solid.focus, .form-control.form-control-solid:active, .form-control.form-control-solid:focus {
  background: #fff!important;
}

.btn.btn-primary {
  font-size: 14px;
  line-height: 1.21;
  color: #362B73;
  font-weight: 600;
  background: #FCD572;
  padding: 15px 40px!important;
  transition: all .3s ease-in-out;
}

.btn-check:active+.btn.btn-primary, .btn-check:checked+.btn.btn-primary, .btn.btn-primary.active, .btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active), .btn.btn-primary:hover:not(.btn-active), .show>.btn.btn-primary {
  opacity: .8;
  background-color: #FCD572!important;
  color: #362B73;
}

.btn.btn-outline-primary {
  font-size: 14px;
  line-height: 1.21;
  color: #362B73;
  font-weight: 600;
  background: transparent;
  padding: 15px 40px!important;
  border: 1px solid #362B73!important;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.btn.btn-outline-primary:hover {
  background: #362B73;
  color: #fff;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFF;
  border-radius: 8px;
  padding: 11px 11px;
  font-size: 12px;
  color: #000;
  flex-grow: 1;
  transition: all .5s ease-in-out;
}

.key:hover {
  color: #000;
  background: #fff;
}

.key:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.key--go:before {
  background: url(../media/kondr/key-go.svg) no-repeat center;
}

.key--tg:before {
  background: url(../media/kondr/key-tg.svg) no-repeat center;
}

.auth__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.auth__btns-item {
  flex-grow: 1;
}

.auth__btns-item + .auth__btns-item {
  margin-left: 32px;
}

a.btn.btn-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #362B73;
  padding: 15px 24px;
  transition: all .3s ease-in-out;
}

.btn.btn-link:hover {
  opacity: .8;
}

.auth__switch {
  margin-bottom: 24px;
}

.form-switch {
  
}

.form-switch .form-check-input {
  border-radius: 140px;
  border-color: rgba(0, 0, 0, .2);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e")!important;
  width: 40px;
  height: 24px;
}

.form-switch .form-check-input:checked {
  background-color: #FCD572;
  border-color: transparent;
}

.form-switch .form-check-label {
  font-size: 14px;
  line-height: 1.5;
  color: #1a1a1a;
}

@media (max-width: 1399px) {
  
  .auth__content {
    padding: 80px 40px;
  }
}

@media (max-width: 1199px) {
  
  .auth__header {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  
  .auth__aside {
    display: none;
  }
  
  .auth__content {
    max-width: 600px;
    margin: 0 auto;
    min-height: 0;
  }
}

@media (max-width: 767px) {
  
  .auth__header {
    font-size: 28px;
  }
  
  .auth__content {
    padding: 40px 20px;
  }
  
  .auth__text {
    font-size: 12px;
  }
  
  .auth__keys-header {
    margin-right: 10px;
  }
  
  .key:before {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}